body {
    overflow-y: auto; 
    overflow-x: hidden;
    background-image:url('background-large.png');
}

#content {
    zoom:0.5;
}

.bodycopy {
    font-size:40px;
    font-family:Georgia;
    color:green;
}

.square {
    display:inline-block;
    height:200px;
    width:200px;
    background-color:gray;
}
